@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Dan W";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <!--Page is disabled-->
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
</div>

