@page "/"

<div class="jumbotron mx-n4">
    <h1 class="display-3">Dan W</h1>
    <p class="subtitle text-muted">Software Developer</p>
    <p>
        <a class="mr-2" href="https://github.com/danericweiner" target="_blank"><img src="images/github.png" alt="GitHub" height="32" width="32"></a>
        <a class="mr-2" href="https://www.linkedin.com/in/weinerda" target="_blank"><img src="images/linkedin.png" alt="LinkedIn" height="32" width="32"></a>
    </p>
</div>
