@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>        
        <a class="btn btn-sm" href="authentication/profile">@context.User.Identity.Name</a>
        <a class="btn btn-sm" @onclick="BeginSignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        @*<a href="authentication/register" class="btn btn-sm">Register</a>*@
        <a href="authentication/login" class="btn btn-sm">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
